
.nav {
  display: flex;
  align-items: center;
  color: black;
  border-bottom: solid 1px #2A9E9E;
  padding-bottom: 8px;
}
.focus1{
  color:#2A9E9E;
  border-bottom:solid;
  border-color: #2A9E9E;
  padding-bottom:0rem;
}
.link {
  text-decoration: none;
  font-size: 15px;

}

.logo {
  color: black;
  text-decoration: none;
  
}
#logo_1{
  color: #2A9E9E;
  padding-left: 20px;
}
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  margin-left: 15%;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 5px 0;
}

.nav__link a:hover {
  color: #2A9E9E;
}

.hide {
  display: none;
}
.btn{
  text-decoration: none;
  color: #2A9E9E;
  border: solid 1px;
  border-radius: 30px;
  padding: 8px;
}

@media screen and (min-width: 600px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 5px 15px;
  }

  .hamburger {
    display: none;
  }

}